.nav {
  padding: 7vw 2vw 1vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  text-decoration: none;
}

.containerImg {
  border-radius: 3vw 3vw 0 0;
  background: var(--bg-color);
  height: 50%;
  padding: 4vw 1vw .5vw;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:flex-end;
  font-size: 1.5vw;
  font-weight: 800;
  color: #df9cb772;
}

.imgPokemon {
  width: 8vw;
  max-height: 6vw;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  object-fit: contain;
}

.listItemText {
  padding: 1vw 1.5vw 0;
  height: 45%;
  background-color: var(--bg-contrast);
  border-radius: 0 0 3vw 3vw;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.listItemText > :first-child {
  font-size: 1.7vw;
  display: block;
  margin-bottom: .5vw;
  font-weight: bold;
}

.listItemText > :last-child {
  margin-top: .5vw;
}

.listItemIcon {
  width: 1.5vw;
  margin: 0 .2vw;
  object-fit: contain;
}

.pokemonTypes {
  display: flex;
  justify-content: space-between;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Responsive */

/* From 992px to 1199px (Tablets in landscape orientation or larger screen) */
@media (min-width: 992px) and (max-width: 1199px) {
  .containerImg {
    height: 55%;
    padding: 4vw 1.5vw .5vw;
  }

  .imgPokemon {
    width: 7vw;
    max-height: 5vw;
  }
  
  .listItemText {
    padding: 1.3vw 1.5vw .5vw;
    font-size: .85vw;
  }
  
  .listItemText > :first-child {
    font-size: 1.4vw;
  }

  .listItemText > :last-child {
    margin-top: .4vw;
  }

  .listItemIcon {
    width: 1.4vw;
  }
}

/* From 768px to 991px (Tablets in portrait orientation) */
@media (min-width: 768px) and (max-width: 991px) {
  .nav {
    padding: 8vw 3vw 1vw;
    grid-template-columns: repeat(4, 1fr);
  }

  .listItem {
    margin: 1vw;
  }

  .containerImg {
    height: 100%;
    padding: 3vw 1.5vw 1.5vw;
  }

  .imgPokemon {
    width: 9vw;
    max-height: 7vw;
  }
  
  .listItemText {
    padding: 1.3vw 1.8vw;
    font-size: 1vw;
    height: 100%;
  }
  
  .listItemText > :first-child {
    font-size: 2vw;
  }

  .listItemText > :last-child {
    margin-top: .5vw;
  }

  .listItemIcon {
    width: 1.5vw;
    margin: .3vw ;
  }
}

/* For Mobile Portrait View */

/* From 481px to 767px (Larger devices like iPhone 6/7/8 Plus) */
@media (min-width: 481px) and (max-width: 767px) {
  .nav {
    padding: 13vw 3vw 1vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .listItem {
    margin: 2vw;
  }

  .containerImg {
    height: 100%;
    padding: 5vw 1.5vw 1.5vw;
  }

  .imgPokemon {
    width: 11vw;
    max-height: 9vw;
  }
  
  .listItemText {
    padding: 1.5vw 1.8vw;
    font-size: 1.5vw;
    height: 100%;
  }
  
  .listItemText > :first-child {
    font-size: 2.3vw;
  }

  .listItemText > :last-child {
    margin-top: .5vw;
  }

  .listItemIcon {
    width: 2vw;
    margin: .5vw ;
  }
}

/* Up to 480px (Small devices like iPhone 5/SE) */
@media (max-width: 480px) { 
  .nav {
    padding: 12vw 3vw 1vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .listItem {
    margin: 2vw;
  }

  .containerImg {
    height: 100%;
    padding: 5vw 1.5vw 1.5vw;
  }

  .imgPokemon {
    width: 11vw;
    max-height: 9vw;
  }
  
  .listItemText {
    padding: 1.5vw 1.8vw;
    font-size: 1.5vw;
    height: 100%;
  }
  
  .listItemText > :first-child {
    font-size: 2.3vw;
  }

  .listItemText > :last-child {
    margin-top: .5vw;
  }

  .listItemIcon {
    width: 2vw;
    margin: .5vw ;
  }
}