.section {
  height: 100vh;
  overflow: hidden;
}

.pokeLogo {
  width: 55vw;
  position: fixed;
  right: 0;
  transform: translateX(45%);
  top: -2.5vw;
  z-index: 1;
  opacity: 0.2;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3vw;
  height: 100%;
  color: white;
  padding-top: 3vw;
  position: relative;
  z-index: 1;
}

.containerInfo {
  width: 100%;
  max-height: 35vw;
  padding: 0 1vw;
}

.containerDivInfo {
  position: relative;
  bottom: 6vw;
}

.pokemonInfo {
  display: flex;
  flex-direction: row;
}

.pokeNumber {
  margin: 0  0 10px 0;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -.6vw;
  font-size: 16vw;
  font-weight: 900;
  color: rgba(255, 255, 255, .1);
}

.pokemonTitle {
  font-size: 6.5vw;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.1vw;
  font-weight: 700;
  position: relative;
  bottom: 11.5vw;
  text-shadow: 2px 2px 50px #52525244;
}

.containerStats {
  position: relative;
  bottom: 12vw;
  width: 40vw;
}

.divStatBar {
  margin-top: 1.2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  --animate-duration: .3s;
}

.stat {
  display: flex;
  text-align: right;
  font-size: 1vw;
  font-weight: 200;
  margin-left: 1vw;
}

progress[value] {
  width: 75%;
  margin-left: .4vw;
  height: 1vw;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
  background: #acacac;
  border: none;
}

progress[value]::-webkit-progress-bar {
  background: #acacac;
  border-radius: 10px;
}

progress[value]::-moz-progress-bar {
  background: white;
  border-radius: 10px;
}

progress[value]::-webkit-progress-value {
  background: white;
  border-radius: 10px;
}

.divStats {
  display: flex;
  justify-content: center;
  position: relative;
  width: 75%;
  text-align: center;
  margin-top: 2.5vw;
  font-size: 1.1vw;
}

.divStat {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
}

.divStats > :first-child,.divStats > :nth-child(2) {
  border-right: 1px solid white;
}

.divStats > :first-child {
  width: 70%;
}

.divStats > :nth-child(2) {
  width: 100%;
}

.divStats > :nth-child(3) {
  width: 70%;
}

.spanStat {
  margin-top: 1vw; 
}

.containerImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

strong {
  margin-right: .5vw;
}

.pokemonInfoImg {
  width: 40vw;
  position: relative;
  left: -5vw;
  bottom: 1vw;
  filter: drop-shadow(10px 2px 10px rgba(0, 0, 0, 0.1));
}

.spanTS {
  height: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanTS img {
  width: 2vw;
  margin: 0 .5vw;
}

.statsInfo {
  display: flex;
  justify-content: space-between;
}

.divText {
  display: flex;
  text-align: left;
  font-size: 1vw;
  margin-top: 2.5vw;
  margin-left: .5vw;
  width: 75%;
}

.spanText {
  line-height: 1.5vw;
  z-index: 2;
}

.divButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 100vh;
  left: 50%;
  z-index: 2;
  padding: 4vw 0;
}

.buttonNext {
  background: none;
  border: none;
  opacity: .2;
  cursor: pointer;
  position: fixed;
  bottom: 4vw;
}

.buttonPrev {
  transform: rotateX(180deg);
  background: none;
  border: none;
  opacity: .2;
  cursor: pointer;
}

.buttonPrev:hover, .buttonNext:hover {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.arrow {
  width: 3vw;
}

/* Color by Type */

.grass {
  background: rgb(158,199,76);
  background: linear-gradient(347deg, rgba(158,199,76,1) 0%, rgb(46, 112, 58) 100%);
}
.fire {
  background: rgb(238,129,48);
  background: linear-gradient(347deg, rgba(238,129,48,1) 0%, rgba(181,53,9,1) 100%);
}
.water {
  background: rgb(99,144,240);
  background: linear-gradient(347deg, rgb(107, 172, 222) 0%, rgb(53, 68, 176) 100%);
}
.normal {
  background: rgb(168,167,122);
  background: linear-gradient(347deg, rgb(168, 156, 122) 0%, rgb(126, 86, 54) 100%);
}
.electric {
  background: rgb(247,208,44);
  background: linear-gradient(347deg, rgb(210, 185, 87) 0%, rgb(218, 153, 79) 100%);
}
.ice {
  background: rgb(150,217,214);
  background: linear-gradient(347deg, rgba(150,217,214,1) 0%, rgba(67,129,177,1) 100%);
}
.fighting {
  background: rgb(176,66,61);
  background: linear-gradient(347deg, rgba(176,66,61,1) 0%, rgba(140,59,95,1) 100%);
}
.poison {
  background: rgb(163,62,161);
  background: linear-gradient(347deg, rgba(163,62,161,1) 0%, rgba(112,43,167,1) 100%);
}
.ground {
  background: rgb(222,189,121);
  background: linear-gradient(347deg, rgba(222,189,121,1) 0%, rgba(210,98,19,1) 100%);
}
.flying {
  background: rgb(169,143,243);
  background: linear-gradient(347deg, rgba(169,143,243,1) 0%, rgba(155,59,204,1) 100%);
}
.psychic {
  background: rgb(227,135,163);
  background: linear-gradient(347deg, rgba(227,135,163,1) 0%, rgba(218,56,105,1) 100%);
}
.bug {
  background: rgb(166,185,26);
  background: linear-gradient(347deg, rgba(166,185,26,1) 0%, rgba(140,128,42,1) 100%);
}
.rock {
  background: rgb(154,147,111);
  background: linear-gradient(347deg, rgba(154,147,111,1) 0%, rgba(86,93,55,1) 100%);
}
.ghost {
  background: rgb(115,87,151);
  background: linear-gradient(347deg, rgba(115,87,151,1) 0%, rgba(57,56,126,1) 100%);
}
.dragon {
  background: rgb(232,85,71);
  background: linear-gradient(347deg, rgba(232,85,71,1) 0%, rgba(179,59,98,1) 100%);
}
.dark {
  background: rgb(136,76,68);
  background: linear-gradient(347deg, rgb(127, 82, 113) 0%, rgb(83, 43, 83) 100%);
}
.steel {
  background: rgb(183,183,206);
  background: linear-gradient(347deg, rgba(183,183,206,1) 0%, rgba(140,118,173,1) 100%);
}
.fairy {
  background: rgb(213,156,185);
  background: linear-gradient(347deg, rgba(213,156,185,1) 0%, rgba(201,117,151,1) 100%);
}

/* Responsive */

/* From 768px to 991px (Tablets in portrait orientation) */
@media (min-width: 768px) and (max-width: 991px) { 
  .pokeLogo {
    width: 73%;
    transform: translateX(20%);
    top: -15vw;
  }
  
  .containerInfo {
    position: relative;
    top: -7vh;
  }
  
  .containerDivInfo {
    bottom: 0;
  }
  
  .pokemonInfo {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100%;
    padding: 5vw;
  }
  
  .pokeNumber {
    margin: 0;
    font-size: 25vw;
  }
  
  .pokemonTitle {
    font-size: 10vw;
    bottom: 17vw;
  }
  
  .containerStats {
    bottom: 16vw;
    width: 63vw;
  }
  
  .divStatBar {
    margin-top: 1.3vw;
  }
  
  .stat {
    font-size: 2.5vw;
    margin-left: 1vw;
  }
  
  progress[value] {
    height: 2vw;
  }
  
  .divStats {
    margin-top: 4vw;
    font-size: 2.2vw;
  }
  
  .spanStat {
    margin-top: 1.5vw; 
  }
  
  strong {
    margin-right: 1.5vw;
  }
  
  .pokemonInfoImg {
    width: 75%;
    left: 0;
    bottom: 3vw;
  }
  
  .spanTS {
    height: 2vw;
  }
  
  .spanTS img {
    width: 3vw;
    margin: 0 1vw .5vw;
  }
  
  .divText {
    font-size: 2.2vw;
    margin-top: 3vw;
    margin-left: .5vw;
    width: 75%;
  }
  
  .spanText {
    line-height: 2.8vw;
  }
  
  .buttonNext {
    bottom: 8vw;
  }
  
  .arrow {
    width: 5vw;
  }

  .divButtons {
    height: 13vh;
    left: 85%;
    z-index: 2;
    padding: 0;
  }
}

/* From 992px to 1199px (Tablets in landscape orientation or larger screen) */
@media (min-width: 992px) and (max-width: 1199px) and (min-height: 600) and (max-height: 820) {
  .pokeLogo {
    width: 53vh;
    transform: translateX(20%);
    top: -15vw;
  }
  
  .containerInfo {
    position: relative;
    top: -9vh;
  }
  
  .containerDivInfo {
    bottom: 0;
  }
  
  .pokemonInfo {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100%;
    padding: 5vw;
  }
  
  .pokeNumber {
    margin: 0;
    font-size: 25vw;
  }
  
  .pokemonTitle {
    font-size: 10vw;
    bottom: 17vw;
  }
  
  .containerStats {
    bottom: 18vw;
    width: 63vw;
  }
  
  .divStatBar {
    margin-top: 1.3vw;
  }
  
  .stat {
    font-size: 2.5vw;
    margin-left: 1vw;
  }
  
  progress[value] {
    height: 2vw;
  }
  
  .divStats {
    margin-top: 4vw;
    font-size: 2.2vw;
  }
  
  .spanStat {
    margin-top: 1.5vw; 
  }
  
  strong {
    margin-right: 1.5vw;
  }
  
  .pokemonInfoImg {
    width: 40vh;
    left: 0;
    bottom: 5vw;
  }
  
  .spanTS {
    height: 2vw;
  }
  
  .spanTS img {
    width: 3vw;
    margin: 0 1vw .5vw;
  }
  
  .divText {
    font-size: 2.2vw;
    margin-top: 3vw;
    margin-left: .5vw;
    width: 75%;
  }
  
  .spanText {
    line-height: 2.8vw;
  }
  
  .buttonNext {
    bottom: 8vw;
  }
  
  .arrow {
    width: 5vw;
  }

  .divButtons {
    height: 13vh;
    left: 85%;
    z-index: 2;
    padding: 0;
  }
}

/* For Mobile Portrait View */

/* Up to 480px (Small devices like iPhone 5/SE) */
@media (max-width: 480px) { 
  .pokeLogo {
    width: 95%;
    transform: translateX(20%);
    top: -15vw;
  }
  
  .containerInfo {
    max-height: 90vw;
    position: relative;
    top: -5vw;
  }
  
  .containerDivInfo {
    bottom: 0;
  }
  
  .pokemonInfo {
    flex-direction: column-reverse;
    justify-content: center;
    height: 100%;
    padding: 5vw;
  }
  
  .pokeNumber {
    margin: 0;
    font-size: 30vw;
  }
  
  .pokemonTitle {
    font-size: 12vw;
    bottom: 20.5vw;
  }
  
  .containerStats {
    bottom: 20vw;
    width: 76vw;
  }
  
  .divStatBar {
    margin-top: 2vw;
  }
  
  .stat {
    font-size: 2.5vw;
    margin-left: 1vw;
  }
  
  progress[value] {
    height: 2vw;
  }
  
  .divStats {
    margin-top: 4vw;
    font-size: 2.2vw;
  }
  
  .spanStat {
    margin-top: 1.5vw; 
  }
  
  strong {
    margin-right: 1.5vw;
  }
  
  .pokemonInfoImg {
    width: 85%;
    left: 0;
    bottom: -5vw;
  }
  
  .spanTS {
    height: 2vw;
  }
  
  .spanTS img {
    width: 3vw;
    margin: 0 1vw .5vw;
  }
  
  .divText {
    font-size: 2.2vw;
    margin-top: 3vw;
    margin-left: .5vw;
    width: 75%;
  }
  
  .spanText {
    line-height: 2.8vw;
  }
  
  .divButtons {
    height: 100vh;
    padding: 5vw 0;
  }
  
  .buttonNext {
    bottom: 5vw;
  }
  
  .arrow {
    width: 5vw;
  }
}

/* From 481px to 767px (Larger devices like iPhone 6/7/8 Plus) */
@media (min-width: 481px) and (max-width: 767px) {
  .pokeLogo {
    width: 70%;
    transform: translateX(20%);
    top: -15vw;
  }
  
  .containerInfo {
    max-height: 90vw;
    position: relative;
    display: flex;
    justify-content: center;
    top: -15vw;
  }
  
  .containerDivInfo {
    bottom: 0;
  }
  
  .pokemonInfo {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100%;
    padding: 5vw;
  }
  
  .pokeNumber {
    margin: 0;
    font-size: 25vw;
  }
  
  .pokemonTitle {
    font-size: 10vw;
    bottom: 17vw;
  }
  
  .containerStats {
    bottom: 18vw;
    width: 63vw;
  }
  
  .divStatBar {
    margin-top: 1.3vw;
  }
  
  .stat {
    font-size: 2.5vw;
    margin-left: 1vw;
  }
  
  progress[value] {
    height: 2vw;
  }
  
  .divStats {
    margin-top: 4vw;
    font-size: 2.2vw;
  }
  
  .spanStat {
    margin-top: 1.5vw; 
  }
  
  strong {
    margin-right: 1.5vw;
  }
  
  .pokemonInfoImg {
    width: 65%;
    left: 0;
    bottom: 5vw;
  }
  
  .spanTS {
    height: 2vw;
  }
  
  .spanTS img {
    width: 3vw;
    margin: 0 1vw .5vw;
  }
  
  .divText {
    font-size: 2.2vw;
    margin-top: 3vw;
    margin-left: .5vw;
    width: 75%;
  }
  
  .spanText {
    line-height: 2.8vw;
  }
  
  .divButtons {
    height: 100vh;
    padding: 5vw 0;
  }
  
  .buttonNext {
    bottom: 8vw;
  }
  
  .arrow {
    width: 4vw;
  }

  .divButtons {
    height: 13vh;
    left: 85%;
    z-index: 2;
    padding: 0;
  }
}
/* From 481px to 850px (Larger devices in landscape) */
@media (min-width: 481px) and (max-width: 900px) and (min-height: 350px) and (max-height: 599px) {
  .pokeLogo {
    width: 50%;
    transform: translateX(20%);
    top: -15vw;
  }
  
  .containerInfo {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: -4vh;
  }
  
  .containerDivInfo {
    bottom: 0;
  }
  
  .pokemonInfo {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 4vw;
  }
  
  .pokeNumber {
    margin: 0;
    font-size: 12vw;
  }
  
  .pokemonTitle {
    font-size: 5vw;
    bottom: 8.5vw;
  }
  
  .containerStats {
    bottom: 8.5vw;
    width: 29vw;
  }
  
  .divStatBar {
    margin-top: .4vw;
  }
  
  .stat {
    font-size: 1vw;
    margin-left: .5vw;
  }
  
  progress[value] {
    height: .8vw;
  }
  
  .divStats {
    margin-top: 1.5vw;
    font-size: 1vw;
  }
  
  .spanStat {
    margin-top: .1vw; 
  }
  
  strong {
    margin-right: 1vw;
  }
  
  .pokemonInfoImg {
    width: 100%;
    left: -20%;
    bottom: 0vw;
  }
  
  .spanTS {
    height: 1.5vw;
  }
  
  .spanTS img {
    width: 1.2vw;
    margin: .5vw;
  }
  
  .divText {
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-left: .5vw;
    width: 75%;
  }
  
  .spanText {
    line-height: 1.5vw;
  }
  
  .buttonNext {
    bottom: 3vw;
  }
  
  .arrow {
    width: 2vw;
  }

  .divButtons {
    height: 100vh;
    left: 50%;
    z-index: 2;
    padding: 3vw;
  }
}