.nav {
  padding: 7vw 2vw 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  text-decoration: none;
}

.containerImg {
  border-radius: 3vw 3vw 0 0;
  background: var(--bg-color);
  height: 50%;
  padding: 4vw 1vw .5vw;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:flex-end;
  font-size: 1.5vw;
  font-weight: 800;
  color: #df9cb772;
}

.imgPokemon {
  width: 8vw;
  max-height: 6vw;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  top: 10%;
  object-fit: contain;
}


.listItemText {
  padding: 1vw 1.5vw 0;
  height: 45%;
  background-color: var(--bg-contrast);
  border-radius: 0 0 3vw 3vw;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.listItemText > :first-child {
  font-size: 1.7vw;
  display: block;
  margin-bottom: .5vw;
  font-weight: bold;
}

.listItemText > :last-child {
  margin-top: .5vw;
}

.listItemIcon {
  width: 1.5vw;
  margin: 0 .2vw;
  object-fit: contain;
}

.pokemonTypes {
  display: flex;
  justify-content: space-between;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  