.nav {
  padding: 7vw 2vw 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  text-decoration: none;
}

.containerImg {
  border-radius: 3vw 3vw 0 0;
  background: var(--bg-color);
  height: 50%;
  padding: 4vw 1vw .5vw;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:flex-end;
  font-size: 1.5vw;
  font-weight: 800;
  color: #df9cb772;
}

.imgPokemon {
  width: 8vw;
  max-height: 6vw;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  object-fit: contain;
}

.listItemText {
  padding: 1vw 1.5vw 0;
  height: 45%;
  background-color: var(--bg-contrast);
  border-radius: 0 0 3vw 3vw;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.listItemText > :first-child {
  font-size: 1.7vw;
  display: block;
  margin-bottom: .5vw;
  font-weight: bold;
}

.listItemText > :last-child {
  margin-top: .5vw;
}

.listItemIcon {
  width: 1.5vw;
  margin: 0 .2vw;
  object-fit: contain;
}

.pokemonTypes {
  display: flex;
  justify-content: space-between;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Responsive */
 
/* For Desktop View */
@media screen and (min-width: 1024px) {
  .containerImg {
    height: 55%;
    padding: 4vw 1.5vw .5vw;
  }

  .imgPokemon {
    width: 7vw;
    max-height: 5vw;
  }
  
  .listItemText {
    padding: 1.3vw 1.5vw .5vw;
    font-size: .85vw;
  }
  
  .listItemText > :first-child {
    font-size: 1.4vw;
  }

  .listItemText > :last-child {
    margin-top: .4vw;
  }

  .listItemIcon {
    width: 1.4vw;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 640px)
  and (max-device-width: 1024px) {
    .containerImg {
      height: 55%;
      padding: 4vw 1.5vw .5vw;
    }

    .imgPokemon {
      width: 7vw;
      max-height: 5vw;
    }
    
    .listItemText {
      padding: 1.3vw 1.5vw .5vw;
      font-size: .8vw;
    }
    
    .listItemText > :first-child {
      font-size: 1.4vw;
    }

    .listItemText > :last-child {
      margin-top: .4vw;
    }

    .listItemIcon {
      width: 1.4vw;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
    .nav {
      padding: 8vw 3vw 1vw;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .listItem {
      margin: 1.5vw;
    }

    .containerImg {
      height: 100%;
      padding: 5vw 1.5vw 1.5vw;
    }

    .imgPokemon {
      width: 11vw;
      max-height: 9vw;
    }
    
    .listItemText {
      padding: 1.8vw 1.8vw 1.7vw;
      font-size: 1.5vw;
      height: 100%;
    }
    
    .listItemText > :first-child {
      font-size: 2.3vw;
    }

    .listItemText > :last-child {
      margin-top: .5vw;
    }

    .listItemIcon {
      width: 2vw;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
    .nav {
      padding: 8vw 4vw 1vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .containerImg {
      height: 100%;
      font-size: 1.8vw;
      padding: 4vw 1.5vw .5vw;
    }

    .imgPokemon {
      width: 8vw;
      max-height: 6vw;
    }
    
    .listItemText {
      padding: 1.3vw 1.6vw 1.5vw;
      font-size: 1.1vw;
    }
    
    .listItemText > :first-child {
      font-size: 2vw;
    }

    .listItemText > :last-child {
      margin-top: .5vw;
    }

    .listItemIcon {
      width: 1.6vw;
    }
}
  