.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: .7vw 3.5vw;
    background: var(--bg-contrast);
    z-index: 2;
}

.containerInput {
    display: flex;
    align-items: center;
    margin: 1vw 0;
}

.searchIcon {
    width: 2.2vw;
    height: 2.2vw;
    padding: .35vw;
    border-radius: 5vw 0 0 5vw;
    background-color: #525D80;
}

.input {
    background-color: rgba(255, 255, 255, 0.918);
    height: 2.2vw;
    padding-left: .7vw;
    border-radius: 0 5vw 5vw 0;
    border: none;
    width: 30vw;
    font-size: 1.8vh;
}

input:focus {
    outline: none;
}

.containerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #292929;
}

.iconMenu {
    height: 1.8vw;
    margin-left: 2vw;
}

.iconMenu:hover {
    scale: 1.03;
    transition: all 300ms;
}

.filter {
    width: 1.2vw;
}

.filterButton {
    margin-left: 1.5vw;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.filterOverflow {
    position: absolute;
    top: 1.5vw;
    left: 37vw;
    overflow: hidden;
    z-index: 2;
}

.filterConatiner {
    position: relative;
    top: -20vw;
    border-radius: 0 2vw 2vw;
    padding: 2vw;
    background-color: var(--bg-color);
    z-index: 2;
    font-size: 1.3vw;
    color: var(--bg-contrast);
    transition: all 200ms;
}

.filterConatiner hr {
    margin: 1vw 0;
    background-color: var(--bg-light);
    border: none;
    height: 1px;
}

.filterDiv {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw;
    margin-top: 1.5vw;
}

.filterDiv img {
    width: 3vw;
    cursor: pointer;
}

.filterDiv img:hover {
    scale: 1.05;
    transition: all 300ms;
}

.filterImg {
    width: 1.2vw;
    fill: var(--bg-light);
}

.closeImg {
    width: 1.2vw;
    height: fit-content;
    fill: var(--bg-light);
    position: relative;
    left: 1.2vw;
    opacity: 0;
}

.cleanFilterImg {
    width: 1.3vw;
    height: fit-content;
    fill: var(--bg-light);
    position: relative;
    right: -5.7vw;
    transition: transform 0.5s ease;
}

.cleanFilterImg:hover {
    transform: rotate(360deg);
}

.cleanFilterButton {
    cursor: pointer;
}

.filterTitleDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterTitleDiv button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 300ms;
}

.filterTitleDiv button:hover >  .closeImg {
    opacity: 1;
}

.filterTitleDiv button:hover >  .filterImg {
    opacity: 0;
}

.backgroundFilter {
    position: absolute;
    left: 0;
    top:5.2vw;
    width: 110vw;
    height: 100vh;
    background: #07011eca;
    z-index: 1;
}


/* Responsive */

/* For Tablet View */
@media screen and (min-device-width: 640px)
  and (max-device-width: 1024px) {
    .header {
        padding: 1vw 4vw;
    }
    
    .searchIcon {
        width: 2.6vw;
        height: 2.6vw;
        padding: .3vw;
    }
    
    .input {
        height: 2.6vw;
        padding-left: 1vw;
        width: 35vw;
        font-size: 1.4vw;
    }

    .iconMenu {
        height: 2.1vw;
        margin-left: 2vw;
    }
    
    .filter {
        width: 1.8vw;
    }

    .filterButton {
        margin-left: 1.8vw;
    }

    .filterConatiner {
        top: -20vw;
    }

    .filterOverflow {
        top: 2.1vw;
        left: 43vw;
    }

    .backgroundFilter {
        top: 6.6vw;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
    .header {
        padding: 1.5vw 4.5vw;
    }
    
    .searchIcon {
        width: 2.7vw;
        height: 2.7vw;
        padding: .3vw;
    }
    
    .input {
        height: 2.8vw;
        padding-left: 1vw;
        width: 35vw;
        font-size: 1.4vw;
    }

    .iconMenu {
        height: 2.5vw;
        margin-left: 2vw;
    }
    
    .filter {
        width: 1.8vw;
    }

    .filterButton {
        margin-left: 1.8vw;
    }

    .filterConatiner {
        top: -20vw;
    }

    .filterOverflow {
        top: 2.5vw;
        left: 44vw;
    }

    .filterImg {
        width: 1.5vw;
    }
    
    .closeImg {
        width: 1.5vw;
        left: 1.2vw;
    }
    
    .cleanFilterImg {
        width: 1.5vw;
        right: -4.5vw;
    }
    
    .filterTitleDiv {
        font-size: 1.7vw;
    }

    .filterTitleDiv button {
        background: none;
        border: none;
        cursor: pointer;
        transition: all 300ms;
    }

    .backgroundFilter {
        top: 5vw;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
    .header {
        padding: 1vw 5vw;
    }

    .searchIcon {
        width: 2.6vw;
        height: 2.6vw;
        padding: .3vw;
    }
    
    .input {
        height: 2.6vw;
        padding-left: 1vw;
        width: 35vw;
        font-size: 1.4vw;
    }

    .iconMenu {
        height: 2.1vw;
        margin-left: 2vw;
    }
    
    .filter {
        width: 1.8vw;
    }

    .filterButton {
        margin-left: 1.8vw;
    }

    .filterConatiner {
        top: -20vw;
    }

    .filterOverflow {
        top: 2.1vw;
        left: 44vw;
    }

    .backgroundFilter {
        top: 6.65vw;
    }
}