.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.5vw 3.5vw;
    background: var(--bg-contrast);
    z-index: 2;
}

.containerInput {
    display: flex;
    align-items: center;
}

.searchIcon {
    width: 2.2vw;
    height: 2.2vw;
    padding: .35vw;
    border-radius: 5vw 0 0 5vw;
    background-color: #525D80;
}

.input {
    background-color: rgba(255, 255, 255, 0.918);
    height: 2.2vw;
    padding-left: .7vw;
    border-radius: 0 5vw 5vw 0;
    border: none;
    width: 30vw;
}

input:focus {
    outline: none;
}

.containerMenu {
    display: flex;
    justify-content: space-between;
}

.menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #292929;
    font-size: 2vw;
    font-weight: 600;
}

.iconMenu {
    height: 1.8vw;
    margin-left: 2vw;
}

.iconMenu:hover {
    scale: 1.03;
    transition: all 300ms;
}

.filter {
    width: 1.2vw;
}

.filterButton {
    margin-left: 1.5vw;
    background: none;
    border: none;
    cursor: pointer;
}

.filterOverflow {
    position: absolute;
    top: 1.5vw;
    left: 37vw;
    overflow: hidden;
    z-index: 2;
}

.filterConatiner {
    position: relative;
    top: -20vw;
    border-radius: 0 2vw 2vw;
    padding: 2vw;
    background-color: var(--bg-color);
    z-index: 2;
    font-size: 1.3vw;
    color: var(--bg-contrast);
    transition: all 200ms;
}

.filterConatiner hr {
    margin: 1vw 0;
    background-color: var(--bg-light);
    border: none;
    height: 1px;
}

.filterDiv {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw;
}

.filterDiv img {
    width: 3vw;
    cursor: pointer;
}

.filterDiv img:hover {
    scale: 1.05;
    transition: all 300ms;
}

.filterImg {
    width: 1.2vw;
    fill: var(--bg-light);
}

.closeImg {
    width: 1.2vw;
    height: fit-content;
    fill: var(--bg-light);
    position: relative;
    left: 1.2vw;
    opacity: 0;
}

.cleanFilterImg {
    width: 1.3vw;
    height: fit-content;
    fill: var(--bg-light);
    position: relative;
    right: -5.7vw;
    transition: transform 0.5s ease;
}

.cleanFilterImg:hover {
    transform: rotate(360deg);
}

.cleanFilterButton {
    cursor: pointer;
}

.filterTitleDiv {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.filterTitleDiv button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 300ms;
}

.filterTitleDiv button:hover >  .closeImg {
    opacity: 1;
}

.filterTitleDiv button:hover >  .filterImg {
    opacity: 0;
}

.backgroundFilter {
    position: absolute;
    left: 0;
    top:5.2vw;
    width: 110vw;
    height: 100vh;
    background: #07011eca;
    z-index: 1;
}